# Only listen for secure imap, secure pop3s
service imap-login {
  inet_listener imap {
    port = 0
  }
  inet_listener imaps {
  }
}
service pop3-login {
  inet_listener pop3 {
    port = 0
  }
  inet_listener pop3s {
    port = 995
    ssl = yes
  }
}
service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    mode = 0600
    user = postfix
    group = postfix
  }
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0600
    user = postfix
    group = postfix
  }
  unix_listener auth-userdb {
        mode = 0600
        user = vmail
  }
  user = dovecot
}

service auth-worker {
  user = vmail
}

service anvil {
  unix_listener anvil-auth-penalty {
    mode = 0
  }
}
